@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  width: 100%;
}
.extraMargin {
  height: 40px;
}

/*  */
/* Content */
/*  */
.container {
  margin-inline: auto;
  margin-top: 100px;
  display: flex;
  gap: 20px;
  width: 85%;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.container-first {
  margin-top: 60px;
}
.container-last {
  margin-bottom: 60px;
}
.container-odd .imageContent {
  text-align: right;
}
.container-even .imageContent {
  text-align: left;
}
.textContent {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.textContent a {
  /* margin-top: 10px; */
  text-decoration: none;
  color: rgb(108, 108, 108);
  font-size: 20px;
}
.textContent a:hover {
  text-decoration: underline;
  color: rgb(108, 108, 108);
  /* font-size: 15px;
  transition: all 0.2s; */
}
.heading {
  /* font-family: 'Oswald', sans-serif; */

  font-size: 250%;
  padding: 2px;
  line-height: 50px;
}
.content {
  padding-top: 10px;
  padding-left: 2px;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.imageContent {
  width: 50%;
  padding: 50px;
}
.imageContent img {
  width: 100%;
}

/* Content Responsive */
@media only screen and (max-width: 1112px) {
  .heading {
    font-size: 200%;
    padding: 1px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 970px) {
  .extraMargin {
    height: 70px;
  }
  .container {
    margin: 0px auto;
    width: 100%;
    flex-direction: column;
    padding-block-end: 10px;
    padding-block-start: 10px;
  }
  .heading {
    font-size: 200%;
    padding: 1px;
    line-height: 40px;
    text-align: left;
  }
  .content {
    text-align: justify;
    padding-top: 5px;
  }
  .textContent {
    width: 100%;
    padding: 15px;
  }
  .imageContent {
    width: 100%;
    padding: 15px;
  }
  .container-odd {
    flex-direction: column-reverse;
  }
  .imageContent img {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .extraMargin {
    height: 90px;
  }
  .container {
    font-size: 14px;
    padding-block-end: 5px;
    padding-block-start: 5px;
  }
  .textContent {
    padding: 2px;
  }
  .imageContent {
    padding: 2px;
  }
  .content {
    padding-top: 0px;
  }
}

/*  */
/* footer */
/*  */
.footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  padding: 60px 3rem 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 3rem;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-section h3.footer-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #ffffff;
}

.footer-section h4.footer-heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-subtitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 4px;
}

.footer-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.8;
  margin-bottom: 12px;
}

.footer-text i {
  margin-right: 8px;
  color: #ec008c;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #ec008c;
}

.socials {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-link:hover {
  background-color: #ec008c;
  color: #ffffff;
  transform: translateY(-2px);
}

.social-link i {
  font-size: 16px;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-bottom p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.footer-bottom .fa-heart {
  color: #ec008c;
  margin: 0 4px;
}
/* footer responsive */
@media only screen and (max-width: 1024px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 40px 2rem 20px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .socials {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 30px 1.5rem 15px;
  }

  .footer-bottom p {
    font-size: 12px;
  }
}
/*  */
/* Swiper */
/*  */

.swiper {
  width: 75%;
  border-radius: 10px;
  box-shadow: 6px 8px 20px 5px #186edf1a;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 28px;
}

.swiper-slide {
  width: 100%;
  font-size: 18px;
  z-index: 10;
  display: flex;
}
.swiperImg {
  width: 50%;
  margin: 10px;
  border-right: 5px solid rgb(230, 0, 127);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperImg img {
  width: 80%;
  display: block;
  margin: auto;
  transition: all 0.2s;
}
.swiperImg img:hover {
  width: 78%;
}
.swiperContent {
  width: 50%;
  margin: 10px;
  transition: all 1s;
  text-align: center;
}
.swiperContent p {
  font-size: 16px;
  margin-top: 5px;
  text-align: justify;
  position: relative;
}
.title {
  display: flex;
  /* flex-direction: row-reverse; */
}
.swiperContent h3 {
  font-size: 40px;
  margin-right: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.459);
}
.swiperContent h2 {
  font-size: 40px;
  text-align: left;
}

@media only screen and (max-width: 970px) {
  .swiper-slide {
    flex-direction: column-reverse;
  }
  .swiperImg {
    border-right: 0px;
    width: 100%;
  }
  .swiperContent {
    width: 70%;
    margin: auto;
    text-align: center;
    border-bottom: 4px solid rgb(230, 0, 127);
    margin-bottom: 10px;
  }
  .swiperContent .title {
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .swiperContent h3 {
    font-size: 30px;
  }
  .swiperContent h2 {
    font-size: 30px;
  }
  .swiperContent p {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .swiperContent .title {
    height: 30px;
  }
  .swiperContent h3 {
    font-size: 20px;
  }
  .swiperContent h2 {
    font-size: 20px;
  }
}
.alert {
  width: 100%;
  height: 50px;
  /* margin-top: 60px; */
  top: 60px;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  background-color: #d1e7dd;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border: 2px solid #badbcc;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border: 2px solid #f5c2c7;
}
.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: 2px solid #ffecb5;
}
.btn-close {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  color: gray;
  position: absolute;
  right: 10px;
}
.btn-close:hover {
  cursor: pointer;
}

/*  */
/* timeline */
/*  */
/* @import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700"; */
/* body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 4em;
} */
main {
  min-width: 200px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
main .title {
  display: block;
  text-align: center;
  font-size: 40px;
  width: 30%;
  margin: auto;
  /* border-bottom: 5px solid rgb(230, 0, 127); */
  margin-bottom: 20px;
}
main .title::before {
  content: "";
  position: relative;
  display: block;
  width: 200px;
  height: 3px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 100px);
  top: 64px;
}
main .title::after {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 5px;
  background: rgb(230, 0, 127);
  bottom: 0;
  left: calc(50% - 50px);
}
.timeline {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  /* border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%); */
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #34435e;
}
.timeline:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: #34435e;
  text-align: center;
  line-height: 1.25em;
  color: #fff;
  font-size: 1em;
}
.timeline:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  text-align: right;
}
.timeline:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
  background-color: rgb(230, 0, 127);
  color: white;
}
.timeline:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}
.timeline:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
  background-color: rgb(230, 0, 127);
  color: white;
}
.timeline:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.timeline:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} /*# sourceMappingURL=style.min.css.map */

.content p {
  border-left: 0px;
}
.heading-timeline {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
}
.content-timeline {
  margin-top: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 545px) {
  .heading-timeline {
    font-size: 20px;
    line-height: 25px;
  }
  .content-timeline {
    font-size: 15px;
    margin-top: 5px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 700px) {
  main .title {
    width: 50%;
  }
}
@media only screen and (max-width: 450px) {
  main .title {
    width: 70%;
  }
}

.fa-file-pdf-o {
  margin-left: 5px;
}
.timelineLink {
  margin-top: 10px;
  margin-right: 5px;
  text-decoration: none;
  color: rgb(230, 0, 127);
  font-size: 20px;
}
.timelineLink:hover {
  text-decoration: underline;
}
.fade-in {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.from-left {
  transform: translateX(-50%);
}
.from-right {
  transform: translateX(50%);
}
.from-left,
.from-right {
  transition: opacity 500ms ease-in, transform 600ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}
